option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: SolDega.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: SolDega.settings
    DEBUG: 'false'
    SECRET_KEY: django-insecure-rrgmd0*&i9-(q1wy*qpjuqn2k07g0j!(x-@cdv-j^56k=*k!3x
    ALLOWED_HOSTS: soldega-backend-env.eba-xyz.sa-east-1.elasticbeanstalk.com
    CORS_ALLOWED_ORIGINS: https://www.soldega.com
    DB_NAME: postgres
    DB_USER: postgres
    DB_PASSWORD: Escobar99!
    DB_HOST: soldega-db.cxxxxx.rds.amazonaws.com
    DB_PORT: '5432'
    ENV: production
