option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0db3b8280bd7a1c29
    Subnets: subnet-031c772f6f098291b,subnet-0b0d12289ee10b199,subnet-04f18da3264fdcb33
    ELBSubnets: subnet-031c772f6f098291b,subnet-0b0d12289ee10b199,subnet-04f18da3264fdcb33
    AssociatePublicIpAddress: true

  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-04acaee98a3df98f3
